:root {
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
}

body {
  display: flex;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--color-very-dark-blue);
}

p {
  line-height: 25px;
}

h1,
p {
  margin-bottom: 1rem;
}

h1,
button {
  color: var(--color-white);
}

p,
li {
  color: var(--color-medium-grey);
}

.container-rating {
  padding: 2rem;
  border-radius: 20px;
  background-color: var(--color-dark-blue);
  width: 21rem;
}

.img-container {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 100%;
  background-color: var(--color-medium-grey);
}

.container-submitted-rating {
  display: none;
}

ul {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 2rem;
  list-style: none;
  background-color: var(--color-medium-grey);
}

li {
  padding: 1.2rem;
  height: 10px;
  width: 10px;
  background-color: var(--color-medium-grey);
  border-radius: 50%;
}

button {
  padding: 1rem 0 1rem;
  width: 100%;
  background-color: var(--color-orange);
  border: none;
  border-radius: 30px;
}
